$black: #444

body
  font-family: 'Noto Sans JP', sans-serif
  color: $black
  margin: 0
a
  text-decoration: none
  color: $black
  transition-duration: 0.2s
  &:hover
    transition-duration: 0.2s
    color: lighten($black, 10%)

p
  font-size: 13px
  line-height: 1.8em

input[type=text]
  -webkit-appearance: none
